body {
	background-image: url("/assets/img/background.jpg");
	background-position: center;
}

/* Navbar Custom CSS */

.navbar-default {
  background-color: #5e1010;
  border-color: #a54545;
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-family: 'lovers_quarrelregular';
  font-size: 2.5em;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #dbd9d9;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dbd9d9;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #5e1010;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #dbd9d9;
  background-color: #a54545;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #a54545;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #dbd9d9;
  background-color: #a54545;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dbd9d9;
  background-color: #a54545;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #dbd9d9;
  background-color: #a54545;
}
.navbar-default .navbar-toggle {
  border-color: #a54545;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a54545;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #dbd9d9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dbd9d9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dbd9d9;
    background-color: #a54545;
  }
}


/* Posts custom CSS */

.container {
	background-color: rgba(255, 255, 255, 0.8);
	position: relative;
}

.post_container {
	position: relative;
  margin-bottom: 1em;
	border: solid lightgrey 1px;
	background-color: rgba(255, 255, 255, 0.8);
  width: 100%;

}

.post_container ul {
  list-style-type: none;
  padding: 1.5em;
  text-align: top;
}

table, th, td {
  padding: 0.5em;
  vertical-align: top;

}

table tr td:nth-child(1) {
  white-space: nowrap;
}

table tr td:nth-child(2) {
  width: 100%;
}

/*BRAND Police*/

@font-face {
    font-family: 'lovers_quarrelregular';
    src: url('/assets/fonts/lovers_quarrel/loversquarrel-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/lovers_quarrel/loversquarrel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kingthings_trypewriter_2Rg';
    src: url('/assets/fonts/kingthingstrypewriter_regular/Kingthings_Trypewriter_2-webfont.eot');
    src: url('/assets/fonts/kingthingstrypewriter_regular/Kingthings_Trypewriter_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/kingthingstrypewriter_regular/Kingthings_Trypewriter_2-webfont.woff') format('woff'),
         url('/assets/fonts/kingthingstrypewriter_regular/Kingthings_Trypewriter_2-webfont.ttf') format('truetype'),
         url('/assets/fonts/kingthingstrypewriter_regular/Kingthings_Trypewriter_2-webfont.svg#kingthings_trypewriter_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'carbontyperegular';
    src: url('/assets/fonts/carbontype_regular_macroman/carbontype-webfont.eot');
    src: url('/assets/fonts/carbontype_regular_macroman/carbontype-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/carbontype_regular_macroman/carbontype-webfont.woff') format('woff'),
         url('/assets/fonts/carbontype_regular_macroman/carbontype-webfont.ttf') format('truetype'),
         url('/assets/fonts/carbontype_regular_macroman/carbontype-webfont.svg#carbontyperegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Blog Police*/
h1 {
  font-family: lovers_quarrelregular;
  font-size: 5em;
}

h2 {
  font-family: carbontyperegular;
  font-size: 1.4em;
}

td:nth-child(2) {
  font-family: kingthings_trypewriter_2Rg;
  font-size: 1em;
}