{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un épisode</h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}

    <input type="submit" value="Créer" />
    {{ form_end(form) }}
    

    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#jf_blogbundle_blog_content'
        });
    </script>

    <ul>
        <li>
            <a href="{{ path('blog_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
